name: Unit and integration tests

on:
  push:
    branches: main
  pull_request:
    branches: main

permissions:
  contents: read
  actions: read
  pull-requests: read

jobs:
  test:
    runs-on: ubuntu-latest
    
    services:
      postgres:
        image: postgres:15
        env:
          POSTGRES_PASSWORD: password
          POSTGRES_USER: postgres
          POSTGRES_DB: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    steps:
    - uses: actions/checkout@v6

    - name: Set up Go
      uses: actions/setup-go@v6
      with:
        go-version: '1.20'

    - name: Install dependencies
      run: go mod tidy

    - name: Vet code
      run: go vet ./...

    - name: Run tests with coverage
      env:
        POSTGRES_CONNECTION_STRING: "postgres://postgres:password@localhost:5432/postgres?sslmode=disable"
      run: go test -v -coverprofile=coverage.txt ./...

    - name: Run tests with race detection
      env:
        POSTGRES_CONNECTION_STRING: "postgres://postgres:password@localhost:5432/postgres?sslmode=disable"
      run: go test -race -v ./...

    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v5
      with:
        token: ${{ secrets.CODECOV_TOKEN }}
